{% extends 'core/base.html' %}

{% load static %}

{% block title %}Acerca de{% endblock %}



{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block header %}
<h2>Acerca de</h2>
<span class="subheading">Objetivo</span>

{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
</div>

<div class="col-lg-7 col-md-8">
<h2 class="section-heading">Mauricio Sanchez</h2>
<p>Busco que todas mis acciones del día a día ayuden a construir una sociedad que confía y tiene las herramientas para
alcanzar sus sueños. Ese es el mundo en el que quiero vivir. Ambicioso, determinado, por alcanzar con constancia y
esfuerzo las metas que me propongo para un futuro mejor lleno de aprendizaje, sueños y grandes desafíos.</p>
<p>Voy descubrir nuevas formas Tecnológicas en un mundo en el que las nuevas generaciones buscan un propósito, innovar,
crear, comunicar, socializar y hacerse conocer de manera autentica.</p>
</div>
</div>
</div>
{% endblock %}