{% extends 'core/base.html' %}

{% load static %}

{% block title %}CONTACTO{% endblock %}



{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header %}
<h2>Acerca de</h2>
<span class="subheading">CONTACTO</span>
{% endblock %}

{% block content %}
<div class="row">
<p class="col-lg-8 col-md-10 mx-auto">
    <p>Pasamos el 30% de nuestra vida durmiendo y el 10% soñando. Walt Disney dijo “si lo puedes soñar lo puedes hacer”, por eso aprender soñar puede cambiarnos la vida.</p>
    <br>
    <p><b>Teléfono:</b> +54 11 2849 1561  </p>
    <p><b>Honorarios:</b>  U$S/h (precio base)</p>
</p>
</div>
{% endblock %}

