{% extends 'core/base.html' %}

{% load static %}

{% block title %}CONTACTO{% endblock %}



{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header %}
<h2>Acerca de</h2>
<span class="subheading">CONTACTO</span>
{% endblock %}

{% block content %}
<div class="row">
<p class="col-lg-8 col-md-10 mx-auto">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit,
        fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
    <br>
    <p><b>Teléfono:</b> +54 11 6851 9168</p>
    <p><b>Honorarios:</b> 50 U$S/h (precio base)</p>
</p>
</div>
{% endblock %}

